@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9232 0.0026 48.7171);
  --foreground: oklch(0.2829 0.0289 259.0981);
  --card: oklch(0.9699 0.0013 106.4238);
  --card-foreground: oklch(0.2829 0.0289 259.0981);
  --popover: oklch(0.9699 0.0013 106.4238);
  --popover-foreground: oklch(0.2829 0.0289 259.0981);
  --primary: oklch(0.6447 0.1838 23.8221);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8687 0.0043 56.3660);
  --secondary-foreground: oklch(0.4469 0.0222 258.3724);
  --muted: oklch(0.9232 0.0026 48.7171);
  --muted-foreground: oklch(0.5542 0.0185 262.7016);
  --accent: oklch(0.9385 0.0226 321.3504);
  --accent-foreground: oklch(0.3762 0.0253 257.5231);
  --destructive: oklch(0.6308 0.1764 23.6414);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8687 0.0043 56.3660);
  --input: oklch(0.8687 0.0043 56.3660);
  --ring: oklch(0.6069 0.1688 279.3483);
  --chart-1: oklch(0.6069 0.1688 279.3483);
  --chart-2: oklch(0.5298 0.1941 280.1967);
  --chart-3: oklch(0.4730 0.1814 280.2564);
  --chart-4: oklch(0.4130 0.1499 280.4046);
  --chart-5: oklch(0.3721 0.1140 281.2692);
  --sidebar: oklch(0.8687 0.0043 56.3660);
  --sidebar-foreground: oklch(0.2829 0.0289 259.0981);
  --sidebar-primary: oklch(0.6069 0.1688 279.3483);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9385 0.0226 321.3504);
  --sidebar-accent-foreground: oklch(0.3762 0.0253 257.5231);
  --sidebar-border: oklch(0.8687 0.0043 56.3660);
  --sidebar-ring: oklch(0.6069 0.1688 279.3483);
  --font-sans: Instrument Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: #96969c;
  --shadow-2xs: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.18), 2px 1px 2px 3px hsl(240 2.9412% 60.0000% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.18), 2px 1px 2px 3px hsl(240 2.9412% 60.0000% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.18), 2px 2px 4px 3px hsl(240 2.9412% 60.0000% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.18), 2px 4px 6px 3px hsl(240 2.9412% 60.0000% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.18), 2px 8px 10px 3px hsl(240 2.9412% 60.0000% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 2.9412% 60.0000% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2236 0.0049 67.5717);
  --foreground: oklch(0.9292 0.0109 256.6969);
  --card: oklch(0.2793 0.0057 56.1503);
  --card-foreground: oklch(0.9292 0.0109 256.6969);
  --popover: oklch(0.2793 0.0057 56.1503);
  --popover-foreground: oklch(0.9292 0.0109 256.6969);
  --primary: oklch(0.6447 0.1838 23.8221);
  --primary-foreground: oklch(0.2236 0.0049 67.5717);
  --secondary: oklch(0.3352 0.0055 56.2080);
  --secondary-foreground: oklch(0.8722 0.0076 260.7315);
  --muted: oklch(0.2279 0.0049 67.5779);
  --muted-foreground: oklch(0.7146 0.0156 264.4698);
  --accent: oklch(0.3889 0.0053 56.2463);
  --accent-foreground: oklch(0.8722 0.0076 260.7315);
  --destructive: oklch(0.6308 0.1764 23.6414);
  --destructive-foreground: oklch(0.2236 0.0049 67.5717);
  --border: oklch(0.3352 0.0055 56.2080);
  --input: oklch(0.3352 0.0055 56.2080);
  --ring: oklch(0.6992 0.1288 278.0677);
  --chart-1: oklch(0.6992 0.1288 278.0677);
  --chart-2: oklch(0.6069 0.1688 279.3483);
  --chart-3: oklch(0.5298 0.1941 280.1967);
  --chart-4: oklch(0.4730 0.1814 280.2564);
  --chart-5: oklch(0.4130 0.1499 280.4046);
  --sidebar: oklch(0.3352 0.0055 56.2080);
  --sidebar-foreground: oklch(0.9292 0.0109 256.6969);
  --sidebar-primary: oklch(0.6992 0.1288 278.0677);
  --sidebar-primary-foreground: oklch(0.2236 0.0049 67.5717);
  --sidebar-accent: oklch(0.3889 0.0053 56.2463);
  --sidebar-accent-foreground: oklch(0.8722 0.0076 260.7315);
  --sidebar-border: oklch(0.3352 0.0055 56.2080);
  --sidebar-ring: oklch(0.6992 0.1288 278.0677);
  --font-sans: Instrument Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 4px;
  --shadow-opacity: 0.18;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18), 2px 1px 2px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18), 2px 1px 2px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18), 2px 2px 4px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18), 2px 4px 6px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.18), 2px 8px 10px 3px hsl(0 0% 10.1961% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 10.1961% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}